{% extends "base.html" %}
{% block title %}Tableau de bord Professeur{% endblock %}
{% block content %}
  <h1>Votre espace Professeur</h1>
  <p><a href="{% url 'text_analysis:add_exercise' %}" class="btn">➕ Ajouter un exercice de votre choix </a></p>
  <h2>Mes exercices</h2>
  <ul>
    {% for ex in exercises %}
      <li><strong>{{ ex.title }}</strong>
          (<a href="{% url 'text_analysis:home' %}?exercise={{ ex.id }}">voir</a>)
      </li>
    {% empty %}
      <li>Vous n'avez encore créé aucun exercice.</li>
    {% endfor %}
  </ul>
{% endblock %}
